%ol{class: "fib_count_#{params[:fib_count]} " + (params[:three_spiral] ? "three_spiral " : "")+(params[:normalize] ? "normalize" : "")}
  -15.times do |n|
    %li
      -if params[:text]
        %span= fib(n+1)

-15.times do |m|
  -n=m+1
  %span= link_to fib(n), spiral_path(params.merge(fib_count: n))

