%section.alternating
  %h3 option 1
  %ol
    - 11.times do
      %li
%section.padded
  %h3 option 2
  %ol
    - 10.times do
      %li
%section.spaced
  %h3 option 3
  %ol
    - 10.times do
      %li
